<form [formGroup]="loginForm">
  <app-primary-input
    formControlName="email"
    inputName="email"
    type="email"
    label="Email"
    placeholder="johndoe@gmail.com"

    [ngClass]="{
            'is-invalid': loginForm.get('email')?.invalid && loginForm.get('email')?.touched,
            'is-valid': loginForm.get('email')?.valid && loginForm.get('email')?.touched
        }"
  >
    <img src="/assets/svg/email-icon.svg"/>
  </app-primary-input>

  <div class="invalid-feedback d-block"
       *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">

    <div *ngIf="loginForm.get('email')?.errors?.['required']">
      O e-mail é obrigatório.
    </div>
    <div *ngIf="loginForm.get('email')?.errors?.['email']">
      O e-mail precisa ser um formato válido.
    </div>
  </div>

  <app-primary-input
    formControlName="password"
    inputName="password"
    type="password"
    label="Your Password"

    [ngClass]="{
            'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched,
            'is-valid': loginForm.get('password')?.valid && loginForm.get('password')?.touched
        }"
  >
    <img src="/assets/svg/password-icon.svg"/>
  </app-primary-input>

  <div class="invalid-feedback d-block"
       *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">

    <div *ngIf="loginForm.get('password')?.errors?.['required']">
      A senha é obrigatória.
    </div>
    <div *ngIf="loginForm.get('password')?.errors?.['strongPassword']">
      A senha deve ter 8+ caracteres, com letra maiúscula, minúscula e número.
    </div>
  </div>

  <span>Esqueceu a senha?</span>
</form>
