<app-default-login-layout
  title="Login into your account"
  primaryBtnText="Login Now"
  secondaryBtnText="Signup Now"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!loginForm.valid"
>
  <form [formGroup]="loginForm">


    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="johndoe&#64;gmail.com"
    >
      <img src="/assets/svg/email-icon.svg"/>
    </app-primary-input>


    <div
      *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched"
      class="error-message"
    >
        <span *ngIf="loginForm.controls['email'].errors?.['required']">
            O e-mail é obrigatório.
        </span>
      <span *ngIf="loginForm.controls['email'].errors?.['email']">
            O formato do e-mail está incorreto. Por favor, inclua o símbolo 'arroba' ( &#64; ) e um domínio válido.
        </span>
    </div>



    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Your Password"
    >
      <img src="/assets/svg/password-icon.svg"/>
    </app-primary-input>


    <div
      *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
      class="error-message"
    >
        <span *ngIf="loginForm.controls['password'].errors?.['required']">
            A senha é obrigatória.
        </span>
      <span *ngIf="loginForm.controls['password'].errors?.['minlength']">
            A senha deve ter pelo menos 6 caracteres.
        </span>
    </div>


    <span>Esqueceu a senha?</span>

  </form>

</app-default-login-layout>
